<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <meta charset="utf-8">
<head th:replace="head :: head"></head>

<body>
  <!-- 
    BARRA DE NAVEGACAO 
  -->
  <div th:replace="menu :: menu"></div>
  <!-- 
    CONTEUDO DA PAGINA 
  -->
  <main class="container">
    <div class="bg-light p-5 rounded">
      <h3>Gerenciar Questoes</h3>      
      
      <div th:switch="${categoria.id>0}">
      	<p th:case="${true}">Atualização</p>
      	<p th:case="*">Cadastro da Questao</p>
      </div>
      
      <form th:object="${questao}" action="/questoes/save" method="POST">
		<input type="hidden" th:field="${questao.id}" th:if="${questao.id}">
	
		
		
		
      <h4>Questao</h4>
					<div class="form-group">
				
				  <input type="text" class="form-control" id="nome" style="width:500px;height:100px;"
							 />
			</div>	
		
		
      
     
        
        <div class="mb-3">
          <p th:switch="${questao.id>0}">
            <button type="submit" th:case="${true}" class="btn btn-danger" th:text="Atualizar"></button>
            <button type="submit" th:case="*" class="btn btn-primary" th:text="Cadastrar"></button>
          </p>
        </div>
      </form>
    </div>
  </main>
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>