<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

<head th:replace="head :: head"></head>

<body>
	<!-- 
    BARRA DE NAVEGACAO 
  -->
	<div th:replace="menu :: menu"></div>
	<!-- 
    CONTEUDO DA PAGINA 
  -->
	<main class="container">
		<div class="bg-light p-5 rounded" style="margin: 0px; padding: 0px;">
			<h1 style="margin: 0px; padding: 0px;">Prova</h1>

			<div th:switch="${prova.id>0}" style="margin: 0px; padding: 0px;">
				<p th:case="${true}" style="margin: 0px; padding: 0px;">Atualização</p>
				<p th:case="*" style="margin: 0px; padding: 0px;"><h5>Questões</h5></p>
			</div>

			<form th:object="${gerarProvas}" th:action="@{/gerarProvas/save/}" method="POST" style="margin: 0px; padding: 0px;">
				<input type="hidden" th:field="${prova.id}" th:if="${prova.id}" style="margin: 0px; padding: 0px;">			
				
					<div class="form-group row" style="margin: 0px; padding: 0px;" th:each="questao: ${selecao}">				
					
						<div class="col-md-1" style="margin: 0px; padding: 0px;">
		                    <input th:value="${marcada}" type="checkbox" >
		                </div>                               
             
			            <div class="col-md-11" style="margin: 0px; padding: 0px;">
							<sapn th:text="${questao.enunciado}" ></sapn>	
						</div> 
	                                                     
		             </div>						
	<div class="col-md" style="margin-left: 10px; padding: 0px;">
	               		<ol style="list-style-type: none; margin: 0px; padding: 0px;">
			        		<li th:each="questao: ${enunciado}" th:text="${questao.enunciado}"></li>
			        	</ol>	        		
	               	</div>						
				</div>				
		        		
						
				<div class="mb-3" style="margin: 0px; padding-top: 20px;">
					<p th:switch="${prova.id>0}"  style="margin: 0px; padding: 0px;">
					<button type="submit" th:case="${true}" class="btn btn-danger" th:text="Atualizar"></button>
					<button type="submit" th:case="*" class="btn btn-primary" th:text="Salvar"></button>
					</p>
				</div>
			</form>
		</div>
	</main>
	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>